In [18]:
import pandas as pd   #always read structure data ot read unstructure dat

In [19]:
df= pd.read_csv("services.csv")

In [20]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [21]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [24]:
df['keywords']

0     ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1     EMPLOYMENT/TRAINING SERVICES, Job Development,...
2     Geriatric Counseling, Older Adults, Gay, Lesbi...
3     INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4        COMMUNITY SERVICES, Speakers, Automobile Loans
5     ADULT PROTECTION AND CARE SERVICES, In-Home Su...
6     ADULT PROTECTION AND CARE SERVICES, Adult Day ...
7     ADULT PROTECTION AND CARE SERVICES, Meal Sites...
8     EDUCATION SERVICES, Library, Libraries, Public...
9     EDUCATION SERVICES, Library, Libraries, Public...
10    EDUCATION SERVICES, Library, Libraries, Public...
11    EDUCATION SERVICES, Adult, Alternative, Litera...
12    EDUCATION SERVICES, Library, Libraries, Public...
13    COMMUNITY SERVICES, Interpretation/Translation...
14    ALCOHOLISM SERVICES, Residential Care, DRUG AB...
15    COMMODITY SERVICES, Clothing/Personal Items, C...
16    COMMODITY SERVICES, Clothing/Personal Items, C...
17    HEALTH SERVICES, Outpatient Care, Community Cl...
18    HEALTH SERVICES, Outpatient Care, Community Cl...
19                                                  NaN
20                                                  NaN
21                                      Salud, Medicina
22           Ruby on Rails/Postgres/Redis, testing, wic
Name: keywords, dtype: object

In [25]:
type(df['keywords'])

pandas.core.series.Series

In [26]:
list(df['keywords'])

['ADULT PROTECTION AND CARE SERVICES, Meal Sites/Home-delivered Mea, COMMUNITY SERVICES, Group Support, Information and Referral, EDUCATION SERVICES, English Language, RECREATION/LEISURE SERVICES, Arts and Crafts, Sports/Games/Exercise, Brown Bag Food Programs, Congregate Meals/Nutrition Sites, Senior Centers, Older Adults',
 'EMPLOYMENT/TRAINING SERVICES, Job Development, Job Information/Placement/Referral, Job Training, Job Training Formats, Job Search/Placement, Older Adults',
 'Geriatric Counseling, Older Adults, Gay, Lesbian, Bisexual, Transgender Individuals, Mentoring Programs',
 'INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Growth and Adjustment, LEGAL AND CRIMINAL JUSTICE SERVICES, Mediation, Parental Visitation Monitoring, Divorce Counseling, Youth, Abuse Prevention, Child Abuse, Domestic Violence',
 'COMMUNITY SERVICES, Speakers, Automobile Loans',
 'ADULT PROTECTION AND CARE SERVICES, In-Home Supportive, Meal Sites/Home-delivered Meals, COMMUNITY SERVICES, Group Support, Information and Referral, EDUCATION SERVICES, Adult, HEALTH SERVICES, Education/Information, Family Support, Individual/Group Counseling, Screening/Immunization, RECREATION/LEISURE SERVICES, Sports/Games/Exercise, Community Adult Schools, Senior Centers, Older Adults',
 'ADULT PROTECTION AND CARE SERVICES, Adult Day Health Care, Dementia Management, Adult Day Programs, Older Adults',
 'ADULT PROTECTION AND CARE SERVICES, Meal Sites/Home-delivered Mea, HEALTH SERVICES, Nutrition, Home Delivered Meals, Older Adults, Disabilities Issues',
 'EDUCATION SERVICES, Library, Libraries, Public Libraries',
 'EDUCATION SERVICES, Library, Libraries, Public Libraries',
 'EDUCATION SERVICES, Library, Libraries, Public Libraries',
 'EDUCATION SERVICES, Adult, Alternative, Literacy, Literacy Programs, Libraries, Public Libraries, Youth',
 'EDUCATION SERVICES, Library, Libraries, Public Libraries',
 'COMMUNITY SERVICES, Interpretation/Translation, EMERGENCY SERVICES, Shelter/Refuge, FINANCIAL ASSISTANCE SERVICES, Utilities, MENTAL HEALTH SERVICES, Individual/Group Counseling, Food Pantries, Homeless Shelter, Rental Deposit Assistance, Utility Service Payment Assistance',
 'ALCOHOLISM SERVICES, Residential Care, DRUG ABUSE SERVICES, Psychiatric Emergency',
 'COMMODITY SERVICES, Clothing/Personal Items, CHILD PROTECTION AND CARE SERVICES, Day Care, COMMUNITY SERVICES, Information and Referral, EMERGENCY SERVICES, Food Boxes/Food Vouchers, FINANCIAL ASSISTANCE SERVICES, Utilities, RECREATION/LEISURE SERVICES, Camping, Emergency Food, Clothing, Utility Assistance, Youth Development',
 'COMMODITY SERVICES, Clothing/Personal Items, COMMUNITY SERVICES, Information and Referral, EMERGENCY SERVICES, Food Boxes/Food Vouchers, FINANCIAL ASSISTANCE SERVICES, Utilities, Emergency Food, Food Pantries, Furniture, Clothing, Utility Assistance, School Supplies, Case/Care Management, Holiday Programs, Pastoral Counseling, Low Income',
 'HEALTH SERVICES, Outpatient Care, Community Clinics',
 'HEALTH SERVICES, Outpatient Care, Community Clinics, Medicare',
 nan,
 nan,
 'Salud, Medicina',
 'Ruby on Rails/Postgres/Redis, testing, wic']

In [27]:
type(df[['keywords']])

pandas.core.frame.DataFrame

In [28]:
df[['id','keywords']] #multiple column

    id                                           keywords
0    1  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1    2  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2    3  Geriatric Counseling, Older Adults, Gay, Lesbi...
3    4  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4    5     COMMUNITY SERVICES, Speakers, Automobile Loans
5    6  ADULT PROTECTION AND CARE SERVICES, In-Home Su...
6    7  ADULT PROTECTION AND CARE SERVICES, Adult Day ...
7    8  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
8    9  EDUCATION SERVICES, Library, Libraries, Public...
9   10  EDUCATION SERVICES, Library, Libraries, Public...
10  11  EDUCATION SERVICES, Library, Libraries, Public...
11  12  EDUCATION SERVICES, Adult, Alternative, Litera...
12  13  EDUCATION SERVICES, Library, Libraries, Public...
13  14  COMMUNITY SERVICES, Interpretation/Translation...
14  15  ALCOHOLISM SERVICES, Residential Care, DRUG AB...
15  16  COMMODITY SERVICES, Clothing/Personal Items, C...
16  17  COMMODITY SERVICES, Clothing/Personal Items, C...
17  18  HEALTH SERVICES, Outpatient Care, Community Cl...
18  19  HEALTH SERVICES, Outpatient Care, Community Cl...
19  20                                                NaN
20  21                                                NaN
21  22                                    Salud, Medicina
22  23         Ruby on Rails/Postgres/Redis, testing, wic

In [29]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [30]:
pd.read_excel("LUSID Excel - Setting up your market data")

FileNotFoundError: [Errno 2] No such file or directory: 'LUSID Excel - Setting up your market data'

In [51]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types, similar to a spreadsheet or a SQL table. It is essentially a collection of Pandas Series objects that share the same index.

# A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). Each element in a Series is assigned a unique index, which can be used to access individual elements.
import csv
data_frame=[["name","age","gender"],
           ["alice",25,"female"],
           ["bob",30,"male"],
           ["clair",30,"female"]]
with open("df.csv","w") as f:
    write=csv.writer(f)
    for i in data_frame:
        write.writerow(i)

In [36]:
data=pd.read_csv("df.csv")

In [47]:
data

    name  age  gender
0  alice   25  female
1    bob   30    male
2  clair   30  female

In [41]:
type(data[["age"]])

pandas.core.frame.DataFrame

In [42]:
data[["age"]]

   age
0   25
1   30
2   30

In [44]:
type(data["age"])

pandas.core.series.Series

In [46]:
data["age"]

0    25
1    30
2    30
Name: age, dtype: int64

In [48]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

data=[4,8,15,16,23,42]
df=pd.Series(data)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [50]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
list1=[1,2,3,4,5,6,7,8,9.10]
df=pd.Series(list1)
df

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
8    9.1
dtype: float64

In [54]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
Name=pd.Series(["deepak","dilip","vicky"])
age=pd.Series([24,23,25])
sallary=pd.Series([23000,2300,1200])
df=pd.DataFrame({"names":Name,"age":age,"sallary":sallary})
df

    names  age  sallary
0  deepak   24    23000
1   dilip   23     2300
2   vicky   25     1200