In [4]:
import pandas as pd
import csv
df=[['A','B','C','D'],
     [0 ,3 ,5 ,1],
     [1 ,8 ,2 ,7],
     [2 ,6 ,9 ,4],
     [3 ,2 ,3 ,5],
     [4 ,9 ,1 ,2]]
with open("rein.csv","w") as f:
    write=csv.writer(f)
    for i in df:
        write.writerow(i)

In [10]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Index(range(1, len(df)*2, 2))
    return df.reset_index(drop=True).set_index(new_index)
data={'A':[0 ,3 ,5 ,1],'B': [1 ,8 ,2 ,7],'C': [2 ,6 ,9 ,4]}
df=pd.DataFrame(data)
new_df = reindex_dataframe(df)

In [11]:
new_df

   A  B  C
1  0  1  2
3  3  8  6
5  5  2  9
7  1  7  4

In [34]:
def sum_cal(df):
    sum=0
    for i in range(0,3):
         sum=sum+df["values"][i]
    return sum              
data1={"values":[10,20,30,40,50]}
df=pd.DataFrame(data1)
obj=sum_cal(df)

In [35]:
obj

60

In [50]:
data2={"text":[" Braund, Mr. Owen Harris","Montvila, Rev. Juozas","Dooley, Mr. Patrick","Allen, Mr. William Henry","Heikkinen, Miss. Laina"]}

In [54]:
df=pd.DataFrame(data2)

In [55]:
def add_word_count(df):
    df['Word_Count'] = df['text'].str.split().apply(len)
    return df
new_df = add_word_count(df)

In [ ]:
new_df

                       text  Word_Count
0   Braund, Mr. Owen Harris           4
1     Montvila, Rev. Juozas           3
2       Dooley, Mr. Patrick           3
3  Allen, Mr. William Henry           4
4    Heikkinen, Miss. Laina           3

In [61]:
df['text'].str.split().apply(len)

0    4
1    3
2    3
3    4
4    3
Name: text, dtype: int64

In [7]:
import pandas as pd

def extract_username(df):
    # Extract username from email addresses
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df
data3={"Email":"username@domain.com"}
df=pd.DataFrame(data3)

ValueError: If using all scalar values, you must pass an index

In [8]:
# obj=extract_username(df)

In [33]:
def find_gre_les(df):
        select_row=df[(df["A"]>5) & (df["B"]<10)]
        return select_row
data4={'A':[0,3,5,1,7,8,9],'B': [1,8,2,7,6,5,4],'C': [2,6,9,4,5,6,3]}
df=pd.DataFrame(data4)
find_gre_les(df)

   A  B  C
4  7  6  5
5  8  5  6
6  9  4  3

In [41]:
import pandas as pd

def select_rows_by_date(df):
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows
d
selected_df = select_rows_by_date(df)

NameError: name 'Timestamp' is not defined

In [37]:
start_date = pd.Timestamp('2023-01-01')

In [38]:
start_date

Timestamp('2023-01-01 00:00:00')

In [53]:
def calculate(df):
    print(df.mean())
    print(df.median())
    print(df.std())
data6={"values":[0 ,3 ,5 ,1]}
df=pd.DataFrame(data6)
calculate(df)

values    2.25
dtype: float64
values    2.0
dtype: float64
values    2.217356
dtype: float64

In [96]:
import pandas as pd

def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

data5={"Date":['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05'],'Sales':[1,2,3,4,5]}
df=pd.DataFrame(data5)
add_moving_average(df)

         Date  Sales  MovingAverage
0  2023-01-01      1            1.0
1  2023-01-02      2            1.5
2  2023-01-03      3            2.0
3  2023-01-04      4            2.5
4  2023-01-05      5            3.0

In [97]:
def days(df):
    df['Weekday']=['Sunday',' Monday', 'Tuesday', 'Wednesday', 'Thursday']
    return df
    
data6={"Date":['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df=pd.DataFrame(data6)
days(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday